.referral_container {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 2.3em;
    line-height: 40px;
    background-color: #444444;
  .staffing__navigation-button {
    background-color: #1a9eda;
  }

}
.referral_link {
    color: white
}
.referralMargin {
  padding-top: 2.3em;
}
